.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     min-width: 100%;
     min-height:100%;
   }
   
   .text {
     font-size: 10px;
     background-color: #f1f1f1;
     min-width: 100%;
     min-height:100%;
   }